.me-description{
    margin-top:1.5em;
    padding: 70px;
    height:200px;
    color:rgb(74, 71, 71);
}
.me-description-text{
    font-size:3em;
}
.profile-pic{
    width:200px;
    height:200px;
}
.name{
    font-weight: bolder;
}
.detail-aboutme{
    padding-top:5em;
    padding-bottom:5em;
    background-color: rgba(255, 127, 80, 0.061);
}
.aboutme{
    padding:5em;
    font-weight: 100;
    font-size:large;
    color:rgb(74, 71, 71);
}