div.skills{
    height:500px;
    background-color:rgba(245, 245, 220, 0.54);
    padding-bottom:33em;
}
ul{
    display:flex;
    justify-content: space-evenly;
}
ul>li{
    border:solid 10px rgb(255, 255, 255);
    background-color:rgb(255, 255, 255);
    padding:40px;
    border-radius:20%;
    list-style-type:none;
}
ul>li:hover{
    transition:transform .4s ease-in-out;
    transform:scale(105%);
}
.skills-icon{
    width:100px;
    height:100px;
}
