div.skills{
    height:500px;
}
div.skills>h1{
    font-size:10em;
}
ul{
    display:flex;
    justify-content: space-evenly;
}
ul>li{
    list-style-type:none;
}
.skills-icon{
    width:100px;
    height:100px;
}
