.example{
    background-color:rgba(251, 130, 130, 0.309);
    min-height:50em;
    height:max-content;
    display:flex;
    flex-direction: column;
    position:relative;
    padding-bottom: 72px;
}
/* hello */
.example-borders{
    border: solid 1px rgb(0, 0, 0);
}
.work-examples{
    max-width: 600px;
    aspect-ratio: 1000 / 600;
    object-fit: contain;
    /* border:solid 14px rgba(9, 9, 9, 0.466); */
    
}
@media (max-width:425px){
    .work-examples{
        max-width:300px;
        object-fit:contain;
    }
}
.example-description{
    float:right;
    height:3em;
    font-size:x-large;
    color:rgb(218, 213, 213);
}
.example-showcase-details{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    grid-gap:70px;
}
@media (max-width:425px){
    .example-showcase-details{
        margin-bottom: 100px;
        grid-template-columns:initial;
        grid-template-rows:auto auto;
        grid-gap:10px;
    }
}
.example-div{
    position:relative;
    margin-left:1em;
    width:600px;
    height:100%;
    display:flex;
    flex-direction: row;
}
.example-details{
    text-align: left;
}
.example-link{
    flex-basis:100%;
}
.example-div:hover .description{
    opacity:1;
}
.description{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:1.2em;
    position:absolute;
    top: 24px;
    left: 82px;
    right:0;
    bottom:0;
    background-color:rgba(0, 0, 0, 0.8);
    opacity:0;
    height: 283px;
    width: 449px;
    padding:.5em;
    transition: opacity 1s ease-in;
}
.description > h2{
    color:white;
}
.example-view-live{
    background-color: #ff7171;
    padding: 10px 15px;
    margin: 10px;
    width: auto;
    border-radius: 5px;
    border: none;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
.example-view-live:hover{
    background-color: #fff6f6;
    color: #ff7171;
}
.example-links{
    display:flex;
    flex-direction: row;
    align-self:center;
    gap:2em;
}