@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:wght@700,100&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
 }
:root{
  color-scheme: light dark;
}
html{
  scroll-behavior: smooth;
}


body {
  font-family: 'Sofia Sans Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eba0586b;
  @media screen and (prefers-color-scheme:dark){
    background-color: #412c186b;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
